name: Build and push Docker image

on:
  push:
    branches: ["**"]
  schedule:
    - cron: '0 0 * * 0'

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set image tags
        id: vars
        env:
          BRANCH: ${{ github.ref_name }}
          SHA: ${{ github.sha }}
          IMAGE: ghcr.io/${{ github.repository }}
        run: |
          tags="$IMAGE:$BRANCH"
          echo "tags=$tags" >> $GITHUB_OUTPUT

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.vars.outputs.tags }}
